body{
 background-image: linear-gradient(to left,#FC5252,#F237FE);
}
.PartOne{
	height: 50px;width: 150px;
	font-size: 20px;
	margin-bottom:10px; 
}
.PartTwo{
	margin-top: 100px;
}
.PartThree{
	display:flex;
	justify-content: space-around;
}
.PartFour{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.PartFive{
	margin-bottom: 1%;
}
.PartSix{
	text-align:center;
}
.PartSeven{
	text-decoration: none;
}
.partNine{
	justify-content: space-between;
	display: flex;
}