body{
	background-image: linear-gradient(to left,#FC5252,#F237FE);
}
.partOne{
	margin-top: 100px;
}

.partTwo{
	height: 50px;
	width: 150px;
	font-size: 20px;
	margin-bottom:10px;
}

.PartThree{
	float: right;
}

.partFour{
	text-decoration: none;
}

.partFive{
	text-align:center;
}