 body{
  background-image: linear-gradient(to left,#FC5252,#F237FE);
}
.partTwo{
	margin-top: 10%;
}
.partThree{
	margin-bottom: 2%;
}
.partFour{
	margin-top: 3%;
}
.partFive{
	padding-top: 2%;
}
.partSix{
	margin-right: 1%;
}
.partSeven{
	width: 100%;
}